$background-color: #9bddb8;

body{
	font-size: 20px;
}

.cart{
	font-size: 3rem;
    color: white;
    padding: 1rem;
    border-radius: 3rem;
    background-color: #80ce8d;
}

header{
	background-color: $background-color;
}

.shop{
	border-top: 3rem solid #9bddb8;
}

footer{
	background-color: grey;
}

.padding{
	padding: 4rem;
}

