$background-color: #9bddb8;

body{
	font-size: 10px;
}

// .cart{
// 	font-size: 3rem;
//     color: white;
//     padding: 1rem;
//     border-radius: 3rem;
//     background-color: #80ce8d;
// }

header{
	background-color: $background-color;
}

.itemRows{
	display: flex;
	flex-direction: row;
}

.shop{
	border-top: .1rem solid #9bddb8;
}

footer{
	background-color: grey;
}

// .padding{
// 	padding: 4rem;
// }

