$background-color: #9bddb8;

header{
	background-color: $background-color;
}

.shop{
	border-top: 3rem solid #9bddb8;
}

footer{
	background-color: grey;
}

.padding{
	padding: 4rem;
}

img{
	size: 20%;
}